.vs/config/applicationhost.config
.vs/ltracker/v14/.suo
ltracker.Data/bin/
ltracker.Data/obj/
ltracker.Tests/bin/
ltracker.Tests/obj/
ltracker/bin/
packages/
/ltracker/obj/Debug
/AppFramework.Security/bin/Debug
/AppFramework.Security/obj/Debug
/AppFramework.Security/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
