@using AppFramework.Security.Extensions;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>@ViewBag.Resultado</h3>
    <h3>@ViewBag.Resultado2</h3>
    <h1>Bienvenido a Learning Tracker.</h1>
    <p class="lead">La mejor plataforma de seguimiento</p>
    @if (Request.GetOwinContext().HasPermission("W", "ASSIG"))
    {
        <p><a href="@Url.Content("~/Assignment/Create")" class="btn btn-primary btn-lg">Asignar un curso &raquo;</a></p>
    }
</div>
